@import "tailwindcss";
@import "@heroui/styles";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-anuphan);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-anuphan), sans-serif;
}

@layer components {
  .input-otp__slot-value {
    @apply text-2xl;
  }
}
